.bookshelf {
  max-width: 800px;
  margin: 0 auto;
}

.bookshelf ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

@media only screen and (min-width: 481px) {
  .bookshelf ul {
    flex-wrap: nowrap;
  }
}

.bookshelf ul li {
  margin: 0 0 1em;
  width: 40%;
}

@media only screen and (min-width: 481px) {
  .bookshelf ul li {
    margin: 0 .5em 1em;
  }
}

.bookshelf ul li figure img {
  width: 100%;
}

.bookshelf ul li h1 {
  font-size: 1em;
}

.bookshelf ul li p {
  font-size: .8em;
  margin: 0;
}
