/******************************************************************
Site Name: Bryant Street Publishing
Author: Pablo Defendini, for Supergreen

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name: Bryant Street Publishing
Author: Pablo Defendini, for Supergreen

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/
/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.

$raleway:              $sans-serif;*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

.bookshelf-links p, .bookshelf-links img {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #FFFFFF;
}

/******************************************************************
Site Name: Bryant Street Publishing
Author: Pablo Defendini, for Supergreen

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************
Site Name: Bryant Street Publishing
Author: Pablo Defendini, for Supergreen

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/
/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/
.bookshelf-links p, .bookshelf-links img {
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 8px 24px;
  margin-top: 1px;
  border: 2px solid #fff;
  cursor: pointer;
  background-color: #ED1F5A;
  -webkit-transition: background-color 0.14s ease-in-out;
  transition: background-color 0.14s ease-in-out;
}

.bookshelf-links p:hover, .bookshelf-links img:hover, .bookshelf-links p:focus, .bookshelf-links img:focus {
  color: #fff;
  text-decoration: none;
  outline: none;
  background-color: #630460;
}

.bookshelf-links p:active, .bookshelf-links img:active {
  top: 1px;
}

.bookshelf {
  max-width: 820px;
  margin: 0 auto;
}

.bookshelf ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

@media only screen and (min-width: 481px) {
  .bookshelf ul {
    flex-wrap: nowrap;
  }
}

.bookshelf ul li {
  margin: 0 0 1em;
  width: 40%;
}

@media only screen and (min-width: 481px) {
  .bookshelf ul li {
    margin: 0 .5em 1em;
  }
}

.bookshelf ul li figure img {
  width: 100%;
}

.bookshelf ul li h1 {
  font-size: 1em;
}

.bookshelf ul li p {
  font-size: .8em;
  margin: 0;
}

.bookshelf-links {
  margin-top: .4em;
}

@media only screen and (min-width: 580px) {
  .bookshelf-links {
    display: flex;
    justify-content: flex-start;
  }
}

.bookshelf-links p, .bookshelf-links img {
  padding: .4em;
}

.bookshelf-links img {
  padding: .5em;
  height: 35px;
  margin-right: .4em;
}

.bookshelf-links svg {
  width: 20px;
  margin-right: 1em;
}

.bookshelf-links svg path {
  fill: #ED1F5A !important;
}

.ad {
  color: #fff;
  text-align: center;
}

.ad h1 {
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 900;
}

.ad p {
  margin-top: 0;
}

.ad-horizontal-large {
  max-width: 900px;
  height: 250px;
  margin: 0 auto;
  padding: 1em;
}

.ad-horizontal {
  max-width: 728px;
  height: 90px;
  margin: 0 auto;
  padding: 1em;
}

.ad-vertical {
  max-width: 250px;
  height: 300px;
  margin: 0 auto;
  padding: 1em;
}

.ad-module > div {
  padding-top: 1em;
}

.ad-module .ad-horizontal {
  margin-bottom: 1em;
  min-height: 142px;
}

.ad-module .ad-vertical {
  max-width: 550px;
}
