@import "../partials/variables";

.bookshelf {
  max-width: 800px;
  margin: 0 auto;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    @media only screen and (min-width: 481px) {
      flex-wrap: nowrap;
    }
    li {
      margin: 0 0 1em;
      width: 40%;
      @media only screen and (min-width: 481px) {
        margin: 0 .5em 1em;
      }
      figure {
        img {
          width: 100%;
        }
      }
      h1 {
        font-size: 1em;
      }
      p {
        font-size: .8em;
        margin: 0;
      }
    }
  }
}


.ad {
  color: $white;
  text-align: center;
  h1 {
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: 900;
  }
  p {
    margin-top: 0;
  }
}
.ad-horizontal-large {
  max-width: 900px;
  height: 250px;
  margin: 0 auto;
  padding: 1em;
}

.ad-horizontal {
  max-width: 728px;
  height: 90px;
  margin: 0 auto;
  padding: 1em;
}

.ad-vertical {
  max-width: 250px;
  height: 300px;
  margin: 0 auto;
  padding: 1em;
}

.ad-module {
  & > div {
    padding-top: 1em;
  }
  .ad-horizontal {
    margin-bottom: 1em;
    min-height: 142px;
  }
  .ad-vertical {
    max-width: 550px;
  }
}
