/******************************************************************
Site Name: Bryant Street Publishing
Author: Pablo Defendini, for Supergreen

Stylesheet: Carousel Styles

Styles for the book carousels used with the CoBlocks plugin

******************************************************************/

/*********************
BOOK CAROUSEL STYLES
*********************/

// setting up defaults
.ugb-card.ugb-card--v2 .ugb-card__content {
  padding: 1em .5em;
}
